<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


    <form action="/login" method="POST">
<h2>Iniciar Sesión</h2>
<label for="txtuser">Usuario:</label><br>
<input type="text" name="txtuser" id="txtuser" required><br><br>
<label for="txtclave">Clave:</label><br>
<input type="password" name="txtclave" id="txtclave" required><br><br>
<button type="submit">Iniciar Sesión</button><br><br>
{% if mensaje %}
<p style="color: red;">{{ mensaje }}</p>
{% endif %}
</form>

</body>
</html>